*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}
.box {
    width: 300px;
    height: 300px;
    margin: 20px;  
    background: salmon;
    transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in,
    background-color  0.2s ease-in-out;


    /* transition: all 1000ms ease-in-out 2s;  */
    /* transition: transform 1000ms cubic-bezier(0.05, 0.61, 0.03, 0.99); */
    /* transition: transform 1s; */


    /* property
    /* duration */
    /* timing function */
    /* delay */
}
.box:hover {
    opacity: 1;
    transform: rotate(180deg);
    background-color: lightblue;
}